

.Header {
  background-color: #F4F4F4;
  height: 100px;
  margin-bottom: 35px;
  &__inner {
    display: flex;
    justify-content: space-between;
    height: 155px;
    padding-top:  20px ;

  }


  &__logo {
    font-size: 56px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;

  }
  &__search {
    margin-right: -40px;
    position: relative;

  }
  &__search-icon{
    position: absolute;
    right: 30px;
    top: 10px;
    width: 35px;
    height: 35px;
  }
  &__search-text {
    padding-left: 50px;
    width: 850px;
    font-size: 20px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #C2C2C2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  &__btn-group{
    padding-top: 14px;
  }
  &__cart {
    padding-right: 20px;
  }
  &__cart-icon {
    width: 32px;
    height: 32px;

  }
  &__profile {}
  &__profile-icon {
    width: 32px;
    height: 32px;
  }
}

.DropdownHeader-profile{
  border: 1px solid #000000;
  border-radius: 8px;

}