.filter-dropdown-in{
  border: 1px solid #000;
  border-radius: 8px;
  width: 30%;
  height: 40px;
  padding-left: 10px;
}
.dropdown-in{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  text-align: center;
}
.filter-price-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}